extends ../base.pug

block content
    p #{driver.name} &nbsp;
      a(href=`/drivers/${driver.id}/cars/new`) Create a car
    for car in driver.cars
      p #{car.make} &nbsp; #{car.model} &nbsp;#{car.year} &nbsp; | &nbsp;
        a(href=`/drivers/${driver.id}/cars/${car.id}/edit`) Edit

